Source: lola
Section: devel
Priority: optional
Maintainer: Keith Packard <keithp@keithp.com>
Homepage: https://keithp.com
Build-Depends: debhelper-compat (= 13), python3
Rules-Requires-Root: no
Standards-Version: 4.7.0

Package: lola
Architecture: all
Depends: python3, ${misc:Depends}
Description: LL parser generator
 Lola is a general-purpose LL parser generator that converts a grammar
 describing an LL context-free language into either a C or Python program
 to parse the language.
